@import "tailwindcss";

@layer components {
    .input-base {
      @apply flex-grow bg-[#ececec] outline-none border-none border-b-2 border-[#242424] 
             p-2 mb-2 min-w-[60%] max-w-[400px] text-[16px] md:text-[18px]
             transition duration-300 shadow-md focus:border-[#16dfc4] w-full;
    }
  
    .label {
      @apply text-[16px] md:text-[18px] font-bold w-full sm:w-[250px] text-left;
    }
  
    .btn-primary {
      @apply border-none rounded-[6px] bg-[#1EA896] text-white font-bold shadow-md hover:bg-white hover:text-black hover:border hover:border-[#1EA896]
             transition duration-300 text-[14px] h-[45px] px-3 md:text-[18px] md:h-[40px] md:px-4;
    }
  
    .btn-danger {
      @apply border-none rounded-[6px] bg-[#b41919] text-white font-bold shadow-md hover:bg-white hover:text-[#b41919] hover:border hover:border-[#b41919]
             transition duration-300 text-[14px] h-[45px] px-3 md:text-[18px] md:h-[40px] md:px-4;
    }
  
    .modal-overlay {
      @apply fixed inset-0 bg-[rgba(0,0,0,0.4)] flex items-center justify-center p-4;
    }
  
    .modal-box {
      @apply flex flex-col bg-white text-black rounded-2xl p-6 w-[90vw] sm:w-[60vw] md:w-[30vw] text-center items-center shadow-lg;
    }
  }
  